.news {
  margin: 90px 0;

  .news_title {
    p {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 2.8px;
      font-weight: 600;
      text-transform: uppercase;
      color: $gray-dark;
      text-align: center;
    }
  }
  .news_element{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }
}