$base-font-family: 'Montserrat', sans-serif;
$secondary-font-family: Arial;
$headings-font-family: "Times New Roman", monospace;


$black: #000;
$white: #fff;
$border-top-color: #f3ebdc;
$gray: #535353;
$gray-dark: #2d2b27;


$base-text-color: $black;
$link-color: $black;
$link-hover-color: red;
$slider-text: $gray;
